/* *{
    display: block;
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
 */
.chart{
    width: 50vmin;
    height: 50vmin;
    margin: auto;
    background-color:  rgb(240, 240, 240);
    background-origin: content-box;
    background-size: auto;
    background-image: url(line.svg);
    

} 
p{
    color: blue
} 

/* 
html {
    background: white;
  }
  
  body {
    width: 639px;
    height: 280px;
    background: url(line.svg) silver;
    background-repeat: space;
    margin: auto;
  } */