.controls-wrapper-customer-selector {
	margin-bottom: 15px;
}

.controls-wrapper-customer-selector legend {
	margin-bottom: 0;
	width: auto;
	padding-right: 10px;
	padding-left: 10px;
}

.customer-info-table-wrapper .fa-map-marker {
	font-size: 20px;
	color: red;
}

.customer-info-table-wrapper .table tr:first-child th,
.customer-info-table-wrapper .table tr:first-child td {
	border-top: none;
}

.customer-info-table-wrapper .box-header.with-border {
	border-bottom-width: 2px;
	padding-top: 5px;
}
